@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-primary: #312e81; /* indigo-900 */
  --color-brand-secondary: #dc2626; /* red-600 */
  --font-sans: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased font-sans;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
